header {
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;

    /* background-color: aqua; */

    display: grid;

    grid-template-columns: 200px 800px auto;

    z-index: 101;
}

header ul {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 15px;
    padding: 0;
    /* padding: 10px; */

    user-select: none;
}

header #userHeadInfo {
    /* margin: 15px; */

    background-color: rgb(63, 22, 92);

    border-radius: 0px 0px 0px 90px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    text-align: right;

    text-overflow: ellipsis;
}

header #userHeadInfo h1 {
    position: relative;
    
    top: -4px;

    margin: 0px 55px;

    font-size: 24px;
    font-weight: 500;

    width: 400px;

    text-align: center;
}

header #userHeadInfo h1:hover {
    user-select: none;

    cursor: pointer;
}

header #userHeadInfo #usrProfile {
    display: grid;
    
    grid-template-areas: "Name Photo" "JobTitle Photo" ;

    margin: 0px 5px;

    width: 420px;
}

#photoBorder {
    width: 50px;
    height: 50px;

    grid-area: Photo;

    margin: 0px 15px;
}

header #userHeadInfo img#Photo {
    max-width: 50px;
    max-height: 50px;

    width: 100%;
    height: auto;

    /* grid-area: Photo; */

    border-radius: 30px;
    border: solid 2px rgb(211, 159, 248);

    transition: all .1s ease-in-out;

    object-fit: cover;

}

header #userHeadInfo img#Photo:hover {
    cursor: pointer;

    filter: brightness(1.2);
}

#Name {
    grid-area: Name;

    font-size: 14pt;
    
    height: 20px;

    margin-top: 5px;

    user-select: none;
}

#JobTitle {
    grid-area: JobTitle;
    
    font-weight: normal;
    font-size: 12pt;
    
    height: 20px;

    user-select: none;

    margin-bottom: 5px;
}

#Name:hover, #JobTitle:hover {
    cursor: pointer;
}

header button {
    margin: 15px;
    padding: 0;

    border-radius: 15px;

    border: none;
    outline: none;

    background-color: rgb(63, 22, 92);

    transition: all .15s ease-in-out;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

header button img {
    position: relative;

    left: -10px;
}

header button:hover {
    cursor: pointer;
    
    background-color: rgb(51, 17, 75);
}

header ul li {
    transition: all ease-in-out .15s;

    padding: 5px 15px 5px 10px;
    margin: 0px 10px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    border-radius: 30px;
}

header ul li.selected {
    transform: scale(1.2);
}

header ul li img {
    padding: 0px 5px;

    fill: rgb(211, 159, 248);
}

header ul li:hover {
    cursor: pointer;

    transform: scale(1.2);

    filter: brightness(1.1);
    
    /* outline: solid 1px rgba(211, 159, 248, 0.25); */
}

.selected {
    outline: solid 2px rgb(211, 159, 248);
}

#newArticleBtn:hover {
    background-color: rgb(90, 35, 129);
}