header {
    position: relative;

    top: 0;
    left: 0;
    width: 100vw;
    min-height: 70px;
    max-height: 70px;

    /* background-color: aqua; */

    display: grid;

    /* grid-template-columns: 200px 800px auto; */
    grid-template-columns: repeat(2, auto);

    /* display: flex; */
    background-color: var(--windows-brighter-color);

    z-index: 101;
}

header ul {
    /* max-width: 800px; */
    list-style: none;

    display: flex;
    flex-direction: row;
    /* justify-content: space   -evenly; */
    align-items: center;

    /* margin: 15px; */
    padding: 0;
    /* padding: 10px; */

    user-select: none;
}

header #userHeadInfo {
    /* margin: 15px; */

    /* background-color: var(--windows-brighter-color); */

    border-radius: 0px 0px 0px 90px;

    display: flex;
    flex-direction: row;

    /* justify-content: space-between; */
    justify-content: right;
    align-items: center;

    text-align: right;

    text-overflow: ellipsis;
}

header #userHeadInfo h1 {
    position: relative;
    
    top: -4px;

    /* margin: 0px 55px; */

    font-size: 20px;
    font-weight: 500;

    /* width: 400px; */
    /* max-height: 30px; */

    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical; */

    text-align: center;
}

header #userHeadInfo h1:hover {
    user-select: none;

    cursor: pointer;
}

header #userHeadInfo #usrProfile {
    display: grid;
    
    grid-template-areas: "Name Photo" "JobTitle Photo" ;

    margin: 0px 5px;

    /* width: 420px; */

    justify-content: right;
}

#photoBorder {
    width: 50px;
    height: 50px;

    grid-area: Photo;

    margin: 0px 15px;

    display: flex;
}

header #userHeadInfo img#Photo {
    max-width: 50px;
    max-height: 50px;

    width: 100%;
    height: auto;

    /* grid-area: Photo; */

    border-radius: 30px;
    border: solid 2px var(--border-color);

    transition: all .1s ease-in-out;

    object-fit: cover;

}

header #userHeadInfo img#Photo:hover {
    cursor: pointer;

    filter: brightness(1.2);
}

#Name {
    grid-area: Name;

    font-size: 14pt;
    
    height: 20px;

    margin-top: 5px;

    user-select: none;

    transition: all .15s ease-in-out;
}

#Name:hover {
    filter: brightness(1.15);
}

#JobTitle {
    grid-area: JobTitle;
    
    font-weight: normal;
    font-size: 12pt;
    
    height: 20px;

    user-select: none;

    margin-bottom: 5px;
}

#Name:hover, #JobTitle:hover {
    cursor: pointer;
}

header button {
    max-width: 200px;

    margin: 15px;
    padding: 0;

    border-radius: 15px;

    border: none;
    outline: none;

    background-color: var(--buttons-brighter-color);

    transition: all .15s ease-in-out;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

header button img {
    position: relative;

    left: -10px;
}

header button:hover {
    cursor: pointer;
    
    background-color: var(--buttons-brighter-another-color);
}

header ul li a{
    transition: all ease-in-out .15s;

    padding: 5px 15px 5px 15px;
    /* margin: 0px 5px; */

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    border-radius: 30px;

    text-decoration: none;  

    outline: solid 2px transparent;
}

/* header ul li .selected {
    transform: scale(1.2);
} */

header ul li {
    margin: 0 20px;
}

header ul li img {
    padding: 0px 5px;

    fill: var(--text-color);
}

header ul li a:hover {
    cursor: pointer;

    /* transform: scale(1.2); */

    filter: brightness(1.1);
    background-color: var(--buttons-color);
    
    /* outline: solid 1px rgba(211, 159, 248, 0.25); */
}

.selected {
    outline: solid 2px var(--border-color);
}

#newArticleBtn:hover {
    background-color: var(--buttons-brighter-another-color);
}

@media screen and (max-width: 1600px) {
    #newArticleBtn {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #newArticleBtn img {
        left: 0;
    }
    header #userHeadInfo {
        justify-content: right;
    }
    #newArticleBtnTxt,
    header #userHeadInfo h1 {
        display: none;
    }
}

@media screen and (max-width: 1800px) {
    #newArticleWin {
        margin: 0 !important;
        border-radius: 0 !important;
        flex-grow: 1;
    }
}

@media screen and (max-width: 800px) {
    header ul li {
        margin: 0;
    }
    header ul {
        margin: 5px;
    }
    header ul li a {
        margin: 2px;
        padding: 5px;
    }
}

@media screen and (max-width: 630px) {
    header ul li span {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    header #userHeadInfo #JobTitle,
    header #userHeadInfo #Name {
        display: none;
    }
}