#selectedArticle {
    position: relative;

    width: 100%;
    /* height: 100%; */
    /* min-height: 100%; */

    margin: 8px;

    background-color: var(--windows-color);

    border-radius: 15px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

#articleInfo {
    width: 100%;
    height: 70px;

    background-color: var(--windows-brighter-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#articleInfo h1 {
    margin: 25px;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    display: -moz-box;

    line-clamp: 3;
    -webkit-line-clamp: 3;

    line-height: 1em;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}

#articleIntoText {
    display: flex;
    align-items: center;
}

#articleIntoText a {
    margin: 0 5px;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

#articleIntoText h5 {
    margin: 0 5px;
    text-decoration: none;
    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}

#articleInfo #selectedArticleBtns {
    margin: 25px;
    min-width: 100px;
    display: flex;
    justify-content: right;
}

#selectedArticleBtns button {
    width: 40px;
    height: 40px;

    margin: 5px;
    padding: 5px;

    border-radius: 19px;

    border: none;

    background-color: var(--buttons-brighter-color);
}

#selectedArticleBtns button:hover {
    cursor: pointer;
    background-color: var(--buttons-brighter-another-color);
}

#articleAndComms {
    width: 100%;
    /* height: 100%; */
    flex: 1;

    display: flex;
    flex-direction: row;

    overflow: hidden;

}

#articleAndComms iframe {
    min-width: 70%;
    /* min-height: 100%; */
    flex-grow: 1;

    background-color: var(--windows-darker-color);
}

#articleComms {
    overflow: hidden;
    position: relative;
    padding-bottom: 150px;
    width: 100%;
}

#articleCommsDiv {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.Comment {
    background-color: var(--card-brighter-color);

    margin: 15px;
    padding: 5px;

    max-width: 100%;

    border-radius: 15px;

    word-wrap: break-word;
    
    display: flex;

    align-items: center;


}

.Comment img {
    grid-area: img;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0px 8px 0px 2px;
}

.Comment h4 {
    grid-area: txt;
    font-weight: normal;
}

.Comment h2 {
    grid-area: name;
    font-size: large;
}

.Comment h2 a {
    text-decoration: none;
}

.Comment:last-of-type {
    margin-bottom: 50px;
}

#addCommentDiv {
    max-width: 100%;
    position: relative;

    margin: 15px 15px 5px 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addCommentDiv button {
    align-self: flex-end;
    background-color: var(--buttons-brighter-color);

    border: none;
    outline: none;

    padding: 10px;

    border-radius: 15px;

    transition: all .15s ease-in-out;
}

#addCommentDiv button[disabled]:hover {
    cursor: not-allowed;
    filter: brightness(.5);
}

#addCommentDiv button:hover {
    background-color: var(--buttons-brighter-another-color);
    cursor: pointer;
}

#addCommentDiv textarea {
    min-width: 95%;
    max-width: 95%;
    height: 60px;

    margin: 5px 10px;
    padding: 15px;

    border-radius: 15px;

    background-color: var(--input-color);

    resize: none;

    border: none;
}

#addCommentDiv textarea:focus {
    border: none;
    outline: none;
}

#addCommentDiv textarea::selection {
    background-color: var(--input-select-color);
}

@media screen and (max-width: 800px) {
    #articleAndComms {
        display: flex;
        flex-direction: column;
    }
    #selectedArticle {
        margin: 0;
        border-radius: 0;
    }
    #articleAndComms #articleComms {
        max-height: 300px;
        padding: 0;
    }
    #articleIntoText a {
        display: none;
    }
}
