.UserCard {
    width: auto;
    height: auto;

    background-color: var(--card-color);
    
    border-radius: 8px;
    
    margin: 7px 20px;
    
    padding: 6px;

    display: flex;

    user-select: none;

    text-decoration: none;
}

.UserCard img {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;

    margin: 5px 10px 5px 0;

    align-self: center;

    border-radius: 6px;

    object-fit: cover;
}

.UserCard:last-of-type {
    margin-bottom: 100px;
}

.UserCard:hover {
    cursor: pointer;
    
    background-color: var(--card-brighter-color);
    /* outline: 1px solid rgb(211, 159, 248); */
}

.UserCard .dep {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    display: -moz-box;

    line-clamp: 1;
    -webkit-line-clamp: 1;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;

    font-weight: 500;
}

.UserCard .jobtitle {
    font-weight: normal;
}

.UserCard h1 {
    font-size: 22px;
}