#userAdminPane {
    width: 100%;
    min-height: auto;
    max-height: 100%;

    overflow: hidden;

    margin: 30px;
    padding: 0px;

    border-radius: 15px;

    background-color: rgb(63, 22, 92);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#userAdminPane h1 {
    margin: 20px;

    font-size: 40px;
}

#userAdminPane h3 {
    margin: 10px 20px;

    font-size: 25px;
}

#divInfo {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow-y: scroll;
}

#divInfoAll {
    display: flex;
}

#divInfo img.userPic {
    min-width: 220px;
    max-width: 220px;
    max-height: 220px;
    min-height: 220px;

    position: relative;

    margin: 55px 55px 55px auto;

    border-radius: 25px;
}

#adminBtns {
    position: relative;

    width: 100%;
    height: 100px;

    background-color: rgb(73, 23, 109);

    padding: 10px 25px;

    display: flex;
    justify-content: left;
    align-items: center;
}

#adminBtns button {
    padding: 15px;
    margin: 5px 15px 15px 15px;

    min-width: 100px;

    border-radius: 15px;

    outline: none;
    border: none;

    background-color: rgb(86, 31, 126);

    display: flex;
    justify-content: center;
    align-items: center;
}

#adminBtns button img {
    margin: 0px 10px 0px 0px;
}

#adminBtns button:hover {
    background-color: rgb(102, 39, 148);

    cursor: pointer;
}

.task {
    width: 35%;
    height: 80px;

    padding: 15px;
    margin: 15px;

    background-color: rgb(86, 31, 126);

    border-radius: 15px;
}

.task h2 {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    display: -moz-box;

    line-clamp: 1;
    -webkit-line-clamp: 1;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}

ul#progressbar {
    list-style: none;

    display: flex;
    flex-direction: row;

    padding: 0;

    margin: 15px 0px;
}

ul#progressbar li:first-of-type {
    border-radius: 15px 0px 0px 15px;
}

ul#progressbar li:last-of-type {
    border-radius: 0px 15px 15px 0px;
}

ul#progressbar li {
    width: 10px;
    height: 10px;

    /* outline: 1px solid black; */

    background-color: rgb(46, 12, 44);
}

.progressFilled {
    background-color: lime !important;
}

.selectedPersonAdmin {
    outline: 2px solid rgb(211, 159, 248);
}

#taskList {
    min-height: 140px;
    width: 100%;

    display: flex;
    flex-direction: row;

    overflow-x: scroll;
    overflow-y: hidden;
}

#addTaskBtn {
    min-width: 60px;
    height: 60px;

    margin: 0 15px 0 0;

    align-self: center;

    border-radius: 20px;

    border: none;

    background-color: rgb(86, 31, 126);

    transition: all .15s ease-in-out;
}

#addTaskBtn:hover {
    cursor: pointer;
    background-color: rgb(102, 39, 148);
}

.textdiv {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.textdiv button {
    height: 40px;
    width: 40px;
    border-radius: 20px;

    border: none;

    background-color: rgb(86, 31, 126);

    transition: all .15s ease-in-out;

    opacity: 0;
}

.textdiv:hover button {
    opacity: 1;
}

.textdiv button:hover {
    background-color: rgb(102, 39, 148);
    cursor: pointer;
}