#adminPane {
    position: relative;
    /* top: 70px; */

    width: 100vw;
    max-height: calc(100% - 70px);

    position: relative;

    display: flex;

    /* margin-top: 70px; */

    flex: 1;
}

#usersListPane {
    position: relative;
    width: 600px;
    max-height: 100%;

    overflow-y: hidden;

    display: flex;
    flex-direction: column;

    border-radius: 15px;
}

#usersListPane input {
    position: relative;

    top: 10px;

    width: 80%;
    align-self: center;

    border-radius: 20px;

    padding: 10px 25px;

    border: none;

    background-color: rgb(90, 35, 129);
}

#usersList input:focus {
    border: none;
    outline: none;
}
/* 
#usersList div:first-of-type {
    margin-top: 20px;
} */

#usersList {
    max-height: 100%;
    overflow-y: scroll;

    margin-top: 15px;
}