#messages {
    position: relative;
    /* top: 70px; */

    width: 100vw;
    min-height: calc(100% - 70px);
    max-height: calc(100% - 70px);

    position: relative;

    display: flex;

    /* margin-top: 70px; */

    flex: 1;
}

#chatListPane {
    position: relative;
    width: 450px;
    max-height: 100%;

    overflow-y: hidden;

    display: flex;
    flex-direction: column;

    border-radius: 15px;
}

#chatListPane #inputDiv {
    position: relative;

    top: 10px;

    width: 90%;
    align-self: center;

    border-radius: 20px;

    /* padding: 10px 25px; */

    border: none;

    background-color: var(--input-color);

    display: flex;
}

#inputDiv input {
    flex: 1;
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    border: none;
}

#inputDiv button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

#inputDiv button:first-of-type {
    padding: 5px 10px 5px 15px;
    border-radius: 15px 0px 0px 15px;
}

#inputDiv button:last-of-type {
    padding: 5px 15px 5px 10px;
    border-radius: 0px 15px 15px 0px;
}

#inputDiv button:hover {
    cursor: pointer;
    background-color: var(--input-select-color);
}

#chatListPane input:focus {
    border: none;
    outline: none;
}

#chatList {
    max-height: 100%;
    overflow-y: scroll;

    margin-top: 15px;
}

.chatCard {
    width: auto;
    height: auto;

    background-color: var(--card-color);
    
    border-radius: 15px;
    
    margin: 7px 20px;
    
    padding: 15px;

    display: flex;

    user-select: none;

    text-decoration: none;

    outline: 2px solid transparent;

    transition: all .15s ease-in-out;
}

.chatCard.selectedChat {
    outline: 2px solid var(--border-color);
}

.chatCard img {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;

    margin: 5px 10px 5px 0;

    align-self: center;

    border-radius: 15px;

    object-fit: cover;
}

.chatCard:last-of-type {
    margin-bottom: 100px;
}

.chatCard:hover {
    cursor: pointer;
    
    background-color: var(--card-brighter-color);
    /* outline: 1px solid rgb(211, 159, 248); */
}

.chatCard h1 {
    font-size: 20px;
}

#chatPane {
    width: 100%;
    min-height: auto;
    max-height: 100%;

    overflow: hidden;

    margin: 8px;
    padding: 0px;

    border-radius: 15px;

    background-color: var(--windows-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sendingPane {
    position: relative;
    max-width: 100%;
    height: fit-content;
    /* background-color: var(--windows-brighter-color); */

    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sendingPane textarea {
    width: 100%;
    /* max-height: 30px; */
    border-radius: 15px;
    resize: none;
    padding: 5px 15px;

    background-color: var(--input-color);
    border: none;
}

#sendingPane textarea::selection {
    background-color: var(--input-select-color);
}

#sendingPane textarea:focus {
    border: none;
    outline: none;
}

#sendingBtns {
    position: relative;
    width: auto;
    display: flex;
    justify-content: space-between;

    margin: 0px 0px 0 20px;
}

#sendingBtns button {
    max-width: 50px;
    max-height: 40px;
    padding: 10px 15px;
    margin: 5px;

    background-color: var(--buttons-brighter-color);
    border: none;
    border-radius: 15px;

    transition: all .1s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sendingBtns button:hover {
    cursor: pointer;
    background-color: var(--buttons-brighter-another-color);
}

#sendingBtns button[disabled]:hover {
    cursor:not-allowed;
    background-color: var(--buttons-brighter-color);
    filter: brightness(.5);
}

#chatInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

    padding: 8px;
    /* background-color: var(--window   s-brighter-color); */
}

#chatInfo h1 {
    font-size: 26px;
}

#chatInfo #chatInfoBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chatInfo #chatInfoBtns button {
    background-color: var(--buttons-brighter-color);
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    transition: all .1s ease-in-out;
}

#chatInfo #chatInfoBtns button:hover {
    cursor: pointer;
    background-color: var(--buttons-brighter-another-color);
}

#messagesList {
    flex: 1;
    max-height: 100%;
    overflow-y: scroll;

    padding: 0px 35px;
    display: flex;
    flex-direction: column;
    background-color: var(--windows-darker-color);
}

.message {
    position: relative;
    width: fit-content;
    min-width: 145px;
    max-width: 70%;
    height: fit-content;
    background-color: var(--card-brighter-color);
    padding-bottom: 23px;
    margin: 5px 15px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    word-break: break-word ;
    align-self: start;
    display: grid;
    grid-template-areas: "img name" "img text" "img files" "img time";
    align-items: center;
}

.message .messageAuthorPic {
    grid-area: img;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    left: -45px;
    top: 50%;
}

.message .messageAuthorPic img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.message h4 {
    padding: 8px 10px 0px 10px;
    position: relative;
    left: -40px;
    grid-area: name;
}

.message h4 a {
    text-decoration: none;
}

.message span {
    position: relative;
    left: -40px;
    grid-area: text;
    padding: 2px 10px;
}

.message.self span {
    padding: 7px 20px 2px 20px;
}

.message.self h6 {
    padding: 0px 20px 5px 20px;
}

.message h6 {
    position: absolute;
    right: 0;
    top: 3px;
    grid-area: time;
    opacity: .3;
    text-align: right;
    padding: 5px 20px;
}

.message.self {
    align-self: flex-end;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    grid-template-areas: "text" "files" "time";
}

.message.self span {
    position: relative;
    left: 0px;
}

.msgFiles {
    position: relative;
    left: -50px;
    width: calc(100% + 50px);
    /* padding: 0 3px; */
    grid-area: files;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    /* margin: 10px; */
}

.self .msgFiles {
    left: 0;
    width: calc(100%);
}

.msgFiles img {
    width: auto;
    min-height: 200px;
    /* min-width: 70%; */
    height: auto;
    max-height: 300px;
    max-width: calc(100% - 4px);
    /* max-height: 600px; */
    object-fit: cover;
    position: relative;
    grid-area: none;
    border-radius: 10px;
    left: 0px;  
    margin: 2px 2px;
}

.msgFiles img:only-child {
    max-width: 100%;
    height: auto;
}

.msgFiles img:nth-of-type(2) {
    max-width: calc(50% - 10px);
    height: auto;
}

/* Если больше двух изображений */
.msgFiles img:nth-of-type(n + 3) {
    max-width: calc(33.333% - 10px); /* Каждое изображение занимает треть ширины контейнера */
    height: auto; /* Высота будет автоматически пропорциональна ширине */
}

#addChatPane, #ChatSettingsPane {
    z-index: 1000;
    position: absolute;

    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 500px;
    min-height: 200px;
    max-width: 700px;
    max-height: 800px;
    
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--windows-brighter-color);

    border-radius: 15px;

    animation: .3s ease-in-out forwards saveWinOpen;

    padding-top: 15px;
}

#chatTtlAndClose.saveWinClosing, #ChatSettingsPane.saveWinClosing {
    animation: .3s ease-in-out forwards saveWinClose;
}

@keyframes saveWinClose {
    0% {
        top: 45%;
    }
    100% {
        top: 50%;
    }
}

@keyframes saveWinOpen {
    0% {
        top: 50%;
    }
    100% {
        top: 45%;
    }
}

#addChatPaneForm {
    width: 100%;
    /* height: 170px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    gap: 5px;
}

#addChatPane input {
    width: 90%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: var(--input-color);
    border: 2px solid var(--border-color);
    transition: all .3s ease-in-out;
}

#addChatPane input.err {
    border: 2px solid var(--error-color);
}

#chatTtlAndClose, #chatSettingsTtlAndClose {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addChatPane button, #chatSettingsTtlAndClose button {
    margin: 0 5px;
    background-color: var(--input-color);
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 10px;
    min-width: 36px;
    min-width: 36px;
}

#addChatPane button:hover, #ChatSettingsPane button:hover {
    cursor: pointer;
    background-color: var(--input-select-color);
}

#addChatPane select {
    width: 95%;
    background-color: var(--input-color);
    border: 2px solid var(--border-color);
    padding: 5px 10px;
    border-radius: 15px;
} 

#Settings {
    width: calc(100% - 40px);
    margin: 10px 20px;
}

#UserList {
    max-height: 500px;
    overflow-y: scroll;
    padding: 5px;
}

#UserList .chatUser {
    display: flex;
    margin: 5px;
    align-items: center;
    text-decoration: none;
    padding: 0 5px;
    border-radius: 10px;
    &:hover {
        background-color: var(--buttons-color);
    }
}

#UserList .chatUser img {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 15px;
    object-fit: cover;
}

#addChatUserPane {
    max-width: 100%;
    display: flex;
    background-color: var(--input-color);
    border-radius: 15px;
    outline: solid 2px transparent;
    transition: all .15s ease-in-out;
}

#addChatUserPane input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 15px;
}

#addChatUserPane select {
    background-color: var(--input-color);
    border: none;
    flex: 1;
    padding: 10px 15px;
    border-radius: 15px 0 0 15px;
}

#addChatUserPane button {
    min-height: 100%;
    width: 40px;
    background-color: transparent;
    border-radius: 0 15px 15px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addChatUserPane.err {
    outline: solid 2px var(--error-color);
}

.AddErr {
    visibility: hidden; 
    /* opacity: 0; */
    color: var(--error-color);
    /* transition: all .15s ease-in-out; */
}

#sendingFiles {
    position: absolute;
    width: 100%;
    height: 100px;
    top: -100px;
    left: 0;
    background-color: var(--windows-color);
}

#sendingFiles h3 {
    margin: 5px 10px 0px 15px;
}

#sendingFiles #FileError {
    color: var(--error-color);
    visibility: hidden;
}

#sendingFiles #images img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0px 0px 20px 20px;
}